<h1>
	Members
</h1>
<% @project.members.each do |member| %>
	<div class="box_member">
		<div class="contain">
			<h4>
				<%= member.name %> 
			</h4>
			<h4>
				<%= member.email %>
			</h4>
		</div>

		<div class="action">
		<p>
			<%= link_to image_tag("delete.jpg", :alt => "Delete", :width => 25, :height => 25), [member.project, member],
									method: :delete,
									data: {confirm: 'Are you sure?'} %>
		</p>
		</div>	
	</div>
<%end%>