<div class="container">
	<div class="task_member">
		<div class="task_member_position">
			<button class="btn btn-default btn-lg btn btn-primary" id="add_member">
				Add Member
			</button> 
		
			<button class="btn btn-default btn-lg btn btn-primary" id="add_task">
				Add Task
			</button>
		</div>
	</div>

	<div id="show_member" class="add_member form-group">
		<%= render "members/form" %>
	</div>

	<div id="show_task" class="add_task form-group">
		<%= render "tasks/form" %>
	</div>
	
	<div class="members">
		<%= render "tasks/members" %>
	</div>

	<div class="task">
	<%= render "tasks/task" %>
	</div>

</div>